Issue in 9.12 Asymmetric Client Standalone Launch

We are seeing an incorrect url being called for setp: 9.12.3.06 Refresh token exchange fails when supplied an invalid refresh token.

The url is not present in any of the preceding calls and is calling an error page instead of our token url.

Hello @yunwwang  Here's the session link: https://inferno.healthit.gov/suites/g10_certification/fcmljA2u52t#g10_certification-Group06-g10_asymmetric_launch

I create a test session on 9.13 using Inferno reference server: https://inferno.healthit.gov/suites/g10_certification/eHp59w4JLar#g10_certification-Group06-g10_asymmetric_launch

You can take a look how Inferno sends request with invalid token in the request body in test 9.12.3.06. Though you cannot initiate that request manually in Infenro, you can try it with any rest client, or CURL command line

Hello @yunwwang  - Any update on above reported issue for the Inferno ?


> we noticed that Inferno is not passing client_assertion and client_assertion_type mandatory parameter for Asymmetric app for the refresh token request.

@jbhatt091 I think I see what you're reporting here. When making an invalid token request in test 9.12.3.06, Inferno is not including the asymmetric authentication parameters (`client_assertion_type` and `client_assertion`). Thus, the test is currently checking that systems reject unauthenticated refresh requests, not that they reject cases where the refresh token itself is invalid. That is a good catch and we can look at correcting the request to include the authentication details so that it is testing what it claims to be, not something else.

On the other hand, I'm not sure that your system's behavior of redirecting to an error page is correct either, even if it isn't tested by Inferno. [RFC 6749 section 6](https://www.rfc-editor.org/rfc/rfc6749#section-6) on refresh requests indicates that "If the request failed verification or is invalid, the authorization server returns an error response" and the [description of error responses](https://www.rfc-editor.org/rfc/rfc6749#section-5.2) includes authentication issues, including "no client authentication included". Inferno doesn't check the details of the error, so I think that if your system was handling the missing authentication details as the OAuth spec requires it would pass the test as is.
